@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    font-family: 'Roboto', sans-serif;;
}

body{
    background-color: #EDF5FA;
}

.title-container{
    width: 100%;
    height: 300px;
    background-color: #3A5768;
}
.blog-container{
    width: 40%;
    height: 900px;
    background-color: white;
    border-radius: 19px;
    margin: auto;
    margin-top: -150px;
    margin-bottom: 150px;
    box-shadow: 1px 1px 8px 2px #888888;
}
.blog-title-section{
    background-color: #5792F5;
    width: 100%;
    height: 80px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
.blog-title{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 30px;
}
.post-container{
    border: 1px solid black;
    width: 95%;
    height: 350px;
    margin: auto;
    margin-top: 4px;
}
.feature-img-container{
    width: 97%;
    height: 70%;
   /* border: 1px solid black;*/
    margin: auto;
    margin-top: 7px;
}
.img5{
    width: 100%;
    height: 100%;
}
.post-title{
    font-size: 20px;
    padding-left: 5px;
    margin-top: -.1px;
}
.reaction-box{
    display: flex;
   /* border: 1px solid black;*/
    width: 97%;
    height: 12%;
    margin-top: -9px;
    margin-left: 5px;
}
.reaction-btn, .counter{
    margin-left: 9px;
}
.counter{
    font-size: 15px;
}

@media screen and (max-width: 1000px){
    .blog-container{
        width: 70%;
    }
    .reaction-box{
        margin-top: -23px;
    }


}




@media screen and (max-width: 500px){
    .blog-container{
        width: 90%;
        height: 900px;
    }
    .reaction-box{
        margin-top: -22px;
    }

}


@media screen and (max-width: 360px){
    .blog-container{
        width: 100%;
        height: 900px;
    }
    .reaction-box{
        margin-top: -22px;
    }

}