@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body{
    background-color: #3A5768;
    font-family: 'Roboto', sans-serif;
}
.login-container{
    background-color: white;
    width: 30%;
    height: 400px;
    margin: auto;
    margin-top: 25vh;
    border-radius: 13px;
}
.login-title{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.login-components{
    position:relative;
    width: 100%;
    height: 40px;
    background-color: #C4C4C4;
    border: none;
    outline: none;
    border-radius: 6px;

}
.login-form{
    width: 70%;
    margin: auto;
    
}
.login-text{
    text-align: center;
    font-size: 18px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;

}
.error_message{
    text-align: center;
    display: none;
    background-color: red;
    width: 70%;
    margin: auto;
    transition: 1s;
    
}
.btn-text{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #3A5768;
    cursor: pointer;
    border: 1px solid #3A5768;
    transition: 1s;
}
.btn-text:hover{
    background-color: #1D53AE;
    color: white;
    transition: 1s;
    border: 1px solid #1D53AE;
}
a{
    text-decoration: none;
    color: black;
}
.nothaveAccount{
    margin: auto;
    padding-left: 7%;
}
a:hover{
    color: #1D53AE;
}
@media screen and (max-width: 700px){
    .login-container{
         width: 50%;
         height: 400px;

    }
}

@media screen and (max-width: 600px){
    .login-container{
         width: 60%;
         height: 400px;

    }
}
@media screen and (max-width: 500px){
    .login-container{
         width: 80%;
         height: 400px;

    }
}
@media screen and (max-width: 350px){
    .login-container{
         width: 90%;
         height: 400px;

    }
}